[2017-03-13 19:58] timothysc opened #1 "Logical redux of Node+Pod affinity+anti-affinity"
As of today affinity and anti-affinity specification are very explicit, and lengthy to specify.

Node Affinity Examples:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/node_affinity_test.go

Inter-Pod Affinity Examples:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/interpod_affinity_test.go

imo ~90% u

[2017-05-25 15:09] DazWilkin opened #11 "ksonnet CockroachDB example does not exist"
Good stuff!

The README.MD references a " ksonnet definition for the CockroachDB Helm chart".

The link 404s and the example appears not present in the repo.

[2017-05-26 17:32] falfaro opened #13 ""containers" should be an array and not a dictionary"
While using jsonnet Jsonnet commandline interpreter v0.9.3 built-in locally on my Ubuntu 16.04 LTS machine, I noticed that jsonnet plus ksonnet yield invalid JSON:

$ git clone https://github.com/ksonnet/ksonnet-lib
$ cd ksonnet-lib/examples/readme/
$ jsonnet hello-nginx.jsonnet > json
$ kubectl create -f json
error: error validating "json": error validating data: [found invalid field hostMappings

[2017-05-29 02:28] hausdorff commented on #13
Thanks for the report, this is fixed in the PR above.

The spec expects `containers` to be an array, and the example passes in a single `v1.Container` object. In the PR above we insert a runtime conditional that checks if the parameter is an array, and if it's not, it is boxed up as an array on behalf of the user.

[2017-05-29 02:28] #13 closed

[2017-05-29 03:10] hausdorff commented on #11
I think we can close this now that the PR is merged. Go ahead and re-open if you see something I missed.

[2017-05-29 03:10] #11 closed

[2017-05-31 16:44] mattmoor opened #18 "Resolve tags to digests as part of translation"
Pretty please.

[2017-05-31 16:53] jbeda commented on #18
I'm missing context here.  Can you give some examples?

[2017-05-31 17:06] mattmoor commented on #18
If I understand the origins of this correctly, the (internal) tool this is meant to emulate resolved mutable package "labels" to immutable package identifier (uuids).  I hope you catch my drift :)

Today Kubernetes relies on the myth of immutable tags, and therefore lacks strong image consistency across auto-scaling an auto-healing.  Even "Pull Always" (while better) is wrong for this, what's almo

[2017-05-31 17:07] mattmoor commented on #18
Simply:
[code]

[2017-05-31 17:32] jbeda commented on #18
Hmm -- we probably want a new intrinsic that is only available for ksonnet that would be something like `resolveContainerImage(string)` that will take a container image and make sure it is fully resolved.  This is obviously something that will have side effects and will prevent the ksonnet evaluation from being 100% hermetic.

To get around that, I'd suggest that we provide a way to have folks con

[2017-05-31 18:16] hausdorff commented on #18
Jsonnet exposes an "escape hatch" from its strict hermiticity: the flag, `--ext-str <var>[=<val>]` allows you to pass a variable from the command line and then access it in the source the source using the standard function [`std.extVar`](http://jsonnet.org/docs/stdlib.html#ext_vars).

I'm wondering if it makes sense for `ksonnet-lib` to leave a call to `std.extVar` in the image for a client to fil

[2017-05-31 18:23] jbeda commented on #18
I can see 5 places to do image label -> sha resolution:
1. Explicit map or parameter outside of the toolchain.  Ensure/warn that images use sha.  Admission controller server side?
2. During jsonnet evaluation time
3. Some other client side filter/plugin
4. Admission time with a new modifying admission controller
5. At run time -- depending on pull policy.

Right now we are at (5).  I kind of like

[2017-05-31 23:37] falfaro opened #20 "Found invalid field hostMappings for v1.PodSpec"
I've been trying to use ksonnet-lib with Kubernetes 1.6.2 but there's no way I can get Kubernetes to accept the JSON code generated from the example file hello-nginx.jsonnet:

[code]

[2017-05-31 23:56] hausdorff commented on #20
Yes, sorry, the library still has quite a few rough edges. I'll look into fixing it tonight.

[2017-06-04 21:25] falfaro commented on #20
Well, more than a few rough edges. I haven't been able to get it do anything so far ;-)

[2017-06-04 21:43] hausdorff commented on #20
Yes, sorry. :) We're working on it as we speak. In the meantime if it is helpful maybe I get something custom together so you can make progress?

[2017-06-05 10:10] falfaro commented on #20
Yes, I'm willing to test any quick hack :-)

[2017-06-06 04:08] anguslees commented on #18
As discussed on slack a few days ago (I was unaware there was a corresponding github issue until now), I think the various admission controller approaches are going to be too hard:  there are many places where an image reference can be "hidden", like in json-serialised annotations.

So _I_ think this reduces the viable options to only (2) and (5) - ie: the client-side and server-side points that h

[2017-06-06 16:24] ngtuna opened #25 "ksonnet-gen seems not work properly or I am missing something"
So, I tried ksonnet-gen with k8s 1.6.0 and 1.7.0-beta.0 tags and they both didn't work. Here below is what I did:

[code]

cc/ @hausdorff

[2017-06-06 16:29] hausdorff commented on #25
I'll take a look when i get into office (on bus now) but take a look at the open pr which has the sha of the k8s head we're building against.

[2017-06-06 16:44] moderation commented on #25
This commit? https://github.com/ksonnet/ksonnet-lib/commit/3c50b831cda82c3a01154167c2685044720f0d9a

[2017-06-06 16:45] ngtuna commented on #25
@hausdorff I looked into the PR #24 but saw no sha. Could you ?

[2017-06-06 16:46] hausdorff commented on #25
https://github.com/hausdorff/ksonnet-lib/commit/deb5ab902f7bf8290cc5df1dfdece38465e84f66#diff-1f7b62afc49bfd99c29058f73dfc5486 This file should have it at the top. I can't see it though because I'm on mobile.

[2017-06-06 16:51] ngtuna commented on #25
Okay thanks I got it now. So should we support old k8s releases like 1.5.x or 1.6.x ?

[2017-06-06 16:52] hausdorff commented on #25
Yeah we should, I just haven't generated rewrite rules for those versions yet. Soon!

[2017-06-06 16:59] hausdorff commented on #25
One more thing, now that I'm back at my desk: this codegen generates `ksonnet.beta.2`, which you can probably tell from the PR is not yet checked in. `ksonnet.beta.2` depends on [this PR](https://github.com/google/jsonnet/pull/318) to the Jsonnet, which in part resolves #20. If you'd like to use beta.2, you should build the version of Jsonnet in that PR.

[2017-06-06 17:02] hausdorff commented on #20
As an update, this will be resolved when (1) [this PR to the Jsonnet language](https://github.com/google/jsonnet/pull/318) lands, and (2) when PR #24 lands, which should be ~soon. At that point we'll update the examples and add some beefier end-to-end examples.

[2017-06-06 17:15] ngtuna commented on #25
Thanks @hausdorff 👍

So I wonder how can I generate `ksonnet.beta.1` with all `apps`, `core`, `extensions` separately as showed in the repo ? Using ksonnet-gen I now have `k8s.libsonnet` only.

And could you give me access to the ksonnet slack? My email is tuna@bitnami.com

[2017-06-06 17:22] hausdorff commented on #25
The code that generated that is in this commit: https://github.com/ksonnet/ksonnet-lib/commit/c09e19ed377592099cb4b635601147d166bd07ef

But, to be completely frank I would say you are almost certainly better off just starting from `ksonnet.beta.2`, particularly since the different API groups like `core`, `apps`, _etc_., as well as all their versions (`core.v1`, `apps.v1beta1`, _etc_.) are all in `

[2017-06-06 17:25] ngtuna commented on #25
Yeah I know. But to be honest I am pretty new to jsonnet in general and ksonnet in particular. So I am curious how to start from ksonnet-gen to the final library files as you said `ksonnet.beta.2` :-) And thanks for the slack invitation 👍

[2017-06-06 17:40] hausdorff commented on #25
Alright, let us know if you have more questions.

[2017-06-06 17:48] ngtuna commented on #25
Okay thanks @hausdorff
I'm happy to close this issue now

[2017-06-06 17:48] #25 closed

[2017-06-07 07:03] ngtuna opened #26 "Field does not exist: ports"
I am trying a simple nginx service and getting the below error:

[code]

[2017-06-07 07:40] ngtuna opened #27 "Dunno how to declare labels"
People would like to add some labels (probably it's required) to deployment and/or service. Need to have a clear way to do that with ksonnet. Here below I have this error:

[code]

[2017-06-07 13:55] hausdorff commented on #27
You're right, `ksonnet.beta.1` probably should have this field built into the `deployment.default`. But rather than populating a bunch of default `{}` values for fields, I think it would be better to wait for Jsonnet's PR #318 to land, which will solve this problem for all such situations. Does that work for you?

[2017-06-07 13:57] hausdorff commented on #26
What's happening here is there isn't a default value for the `{"ports": ...}` field, so the mixin fails. So, this is actually the same issue as #26.

[2017-06-07 13:59] hausdorff commented on #27
So, practically speaking, if you never want to be bothered again by this family of issues, you can build the Jsonnet version in that PR (it's a pretty streamlined build process), and then use that to compile your Jsonnet code.

That should hold you over until it lands and makes it into package managers.

[2017-06-08 05:53] ngtuna commented on #27
Ack. Thanks @hausdorff

[2017-06-13 07:26] ngtuna commented on #27
I am gonna close this as the PR 318 solved the problem

[2017-06-13 07:26] #27 closed

[2017-06-13 07:27] ngtuna commented on #26
closing, same reason as #27

[2017-06-13 07:27] #26 closed

[2017-06-20 17:29] chuckha opened #31 "ksonnet-lib not handling intorstring correctly"
Using the beta2 generated api I was expecting something like this to work:

[code]
But it did not and @hausdorff told me that it was because the ksonnet-lib was not handling Kubernetes' intorstring type correctly.

[2017-06-20 17:34] hausdorff commented on #31
Yeah, that's a problem with `ksonnet-lib` code gen, I'll get a fix together today.

[2017-06-20 18:12] hausdorff opened #32 "Array properties are overwritten unless you pass an array type in."
In `beta.2`, something like this causes us to delete existing volumes:

[code]

While this appends them:

[code]

This is obviously wrong, and we should fix it.

[2017-06-20 19:27] chuckha opened #33 "Autogen casing is a bit weird"
I'm seeing things like `aPIVersion` which I expect is some "downcase first letter" rule that wasn't expecting an acronym.

I don't know if this actually matters though. Feel free to close.

[2017-06-20 20:39] hausdorff commented on #33
Which version are you using? In `beta.2` this should be fixed with our rewrite rules ([_i.e._](https://github.com/ksonnet/ksonnet-lib/blob/master/ksonnet-gen/kubeversion/data.go#L11))

[2017-06-21 14:48] chuckha commented on #33
yeah, i am using `beta.2`

[2017-06-21 14:53] chuckha commented on #31
Same with this code:

[code]
I end up with this error:
[code]

[2017-06-21 14:55] hausdorff commented on #33
Oh, I should have just searched for that string. You're right, we seem to have missed this, somehow.

[2017-06-21 20:09] hausdorff opened #34 "Autogen `core.v1.list`"
Currently this is not included as part of the OpenAPI JSON spec for the Kubernetes API, so we'll have to generate it manually.

[2017-06-22 10:23] ngtuna opened #35 "A good example of using beta.2"
I am looking for a good example to start writing my manifests using beta.2 at master branch. `example/readme/hello-nginx.jsonnet` is still beta.1 and some demo* files at `sigapp` branch don't work for master branch.

[2017-06-22 15:54] Bradamant3 opened #36 "Tutorial template draft: needs new examples"
This snippet is a stripped down version of the old tutorial, with examples removed. Would probably be good to develop some more complex examples (to demonstrate the value proposition better). (This could be an effort post-initial release.)
(template is provided in raw markdown here and in attached text file because GH doesn't support attaching markdown files :-( )
[TUTORIAL_template.txt](https://g

[2017-06-22 18:29] hausdorff commented on #35
Working on it. Hoping to have time to do this next week.

[2017-06-22 18:30] hausdorff commented on #36
This is related to #35. I'm hoping to have time for this next week.

[2017-06-22 20:24] chuckha opened #37 "ksonnet seems to penalize breaking up large objects"
Let's say I have this deployment:

[code]
This translates nicely when I make it one object like so:
[code]

But if I define my metadata first:
[code]

I now only seem to have an awkward object to attach to the deployment like so:
[code]

What do you think about supporting this kind of API:
[code]

Alternatively tell me what I've missed :)

note: you may be wondering about this code
[code]
Well, th

[2017-06-22 20:26] hausdorff commented on #37
You're right, we meant to add this, but didn't get around to it. I could have sworn there was an issue open to do it, but I guess not.

[2017-06-23 20:14] hausdorff opened #38 "Remove no-op constructors."
Stuff like `containerPort.new()` is a no-op. Consider just omitting this.

[2017-06-23 20:40] chuckha commented on #38
this is not the case with `k.extensions.v1beta1.deployment.new()` because that yields:

[code]

Is there some difference between the two?

[2017-06-23 20:52] hausdorff commented on #38
Yes, we want to remove only the no-op constructors. Top-level API objects set `kind` and `apiVersion`.

[2017-06-23 21:32] chuckha opened #39 "Reimplement common k8s strings"
There are a lot of expected strings that float around in k8s configurations.

Implement them as constants in this library (IfNotPresent, RollingUpdate, etc).

Optionally include validation.

[2017-06-23 21:45] hausdorff commented on #37
So I think there are a few options here.

1. Add a "transformer" to `*Type`. For example, `metadataType.toMixin(meta):: __podTemplateMixin({metadata+: meta})` would take a metadata object, and lift it into a mixin that sets the `metadata` property in a pod template (as an example). The downside is that `metadataType` exists in many places, and is supposed to be identical in all places, but this wo

[2017-06-23 22:22] hausdorff commented on #37
So I'm thinking we probably want to go with (2). I actually think it does make sense after all.

My big complaint before was that it's weird to use `deployment.foo` to set the `foo` property, but the `deployment.mixin.metadata.setProperty` function to set `metadata`. There are two things that convinced me that this is not so weird.

First, a function like `deployment.mixin.metadata.annotations` ca

[2017-06-23 22:37] hausdorff commented on #37
Another thing to consider is: do we want we want to distinguish between setters and mixins? A function like `container.ports` will append to a current list of ports, but completely replacing the array is a bit more manual, because you need to actually write an object literal like `{ports: []}`.

As it relates to this discussion, we now have 2 questions:

1. Should the semantics of `mixinInstance`

[2017-06-24 00:13] hausdorff opened #40 "Don't emit empty objects"
Sometimes you'll see stuff like `containerPort.mixin` which is empty. It would be better to simply not emit it.

[2017-06-24 03:44] hausdorff commented on #20
Ok, both of these things have happened. New examples will land next week. So I will expect to close this at that point.

[2017-06-26 19:06] fabriziopandini opened #42 "Extend kubectl allowing usage of jsonnet file in input"
This will simplify usage of ksonnet embedding
[code]
Into `kubectl`.

The user will simply do:
[code]

[2017-06-26 19:14] hausdorff commented on #42
Just so I understand, are you proposing to add a `kubectl` extension? We're definitely considering it, but it probably won't be for a month or two that we will even start thinking about it.

[2017-06-26 19:28] hausdorff commented on #42
Alternatively, have a look at [kubecfg](https://github.com/ksonnet/kubecfg) which makes a lot of these sorts of things more simple.

[2017-06-26 19:43] fabriziopandini commented on #42
@hausdorff I'm not thinking to any possible solution so far.... I just thought that having the power of ksonnet accessible in a transparent way from kubecfg would be simple and straightforward, so I shared the idea 😎
However I will have a look at kubecfg; is there also some doc/tutorial online or only the github repo?

[2017-06-26 22:20] hausdorff commented on #42
@fabriziopandini I think just the README so far. We will hopefully have more to share soon.

[2017-06-27 17:55] #31 closed

[2017-06-27 17:55] #32 closed

[2017-06-27 17:55] #33 closed

[2017-06-27 17:55] #37 closed

[2017-06-28 17:31] hausdorff opened #43 "Some API objects seem like exceptions to the `kind` blacklist rule"
Cursory examination seems to indicate that `rbac.v1alpha1.roleRef` has a `kind` field that is meant to refer to a different API group's `kind`, rather than its own. This would make it an exception to the `kind` blacklist rule.

[2017-06-28 17:53] seh commented on #43
Note, though, that the "kinds" present are not API object kinds, at least in Kubernetes, because of [the three permitted for now](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/rbac/types.go#L66-L68), only "ServiceAccount" matches an existing object kind. Neither "User" nor "Group" are kinds of Kubernetes objects.

[2017-06-28 19:56] hausdorff opened #44 "group in `apiVersion` is not emitted correctly in all cases"
`apiVersion` usually takes the form `group/version`. In the future, `group` will be a domain, rather than a single word (as old groups are).

We currently don't handle this correctly. We need to get the real group out of the fields that look like this:

[code]

[2017-06-29 02:11] anguslees commented on #18
Fwiw, this was implemented in https://github.com/ksonnet/kubecfg/pull/30 - I don't know what we want to do with this ksonnet-lib issue.

To use the kubecfg feature, we need to wrap image names in `std.native("resolveImage")(img)` (or import `kubecfg.libsonnet` and use `kubecfg.resolveImage(img)`).  This will do nothing by default, but will look up (public) docker registries and convert to name@dig

[2017-06-29 04:29] hausdorff commented on #38
Actually, we need these right now, because we need the zero value on the lhs for the mixins to work. For example `{} + {f+: 3}` works, but `{f+: 3}` does not.

[2017-06-29 04:29] #38 closed

[2017-06-29 04:31] hausdorff commented on #18
I haven't had time to really look at this yet, but it certainly looks promising. For me the lingering question is when expansion actually should happen. (_e.g._, I'm not sure whether it could be argued that it should happen before ksonnet expansion)

[2017-06-29 04:32] hausdorff commented on #42
Let's close this for now, since it's not clear that there are action items for us to do. If you have a different view, feel free to suggest another course of action.

[2017-06-29 04:32] #42 closed

[2017-06-29 10:21] tomwilkie commented on #44
I'm getting `Error: the server could not find the requested resource` when using kubecfg to manage some ClusterRoles, unless I change this:

[code]

Is this the same issue?

[2017-07-06 06:44] hausdorff commented on #44
Sorry, we've been busy. Yes, this is the same issue. I will try to have a fix together in the next couple days.

[2017-07-06 06:48] hausdorff commented on #40
We can close this, because they are necessary, and we will soon have the ability to customize zero-argument constructors when it makes sense.

The reason they are necessary is because the zero-argument `new()` constructor allows mixins to work. For example, `{} + {foo+: "bar"}` will work, while `{foo+: "bar"}` won't.

The reason we can now customize them is largely because of PR #46, which lets us

[2017-07-06 06:48] #40 closed

[2017-07-06 06:50] hausdorff commented on #36
I'm not sure if this is entirely helpful for the tutorial, but now that we have a production-ready mixin collection (currently of cardinality 1 🤓 ), I think we are close to being able to close this.

[2017-07-06 06:51] hausdorff commented on #35
@ngtuna I believe we can now close this issue, since we have an example of a production-ready use of beta.2 in the [ksonnet/mixins](https://github.com/ksonnet/mixins) repository.

What do you think?

[2017-07-06 06:52] hausdorff commented on #34
Update we are not auto-gen'ing it, but PR #46 will introduce it officially as part of beta.2. So I think we can de-prioritize this.

[2017-07-06 06:55] hausdorff commented on #20
Ok, prod-ready examples are now available in [ksonnet/mixins](https://github.com/ksonnet/mixins). I'll close this now, but @falfaro what are your thoughts? We can re-open it if you are not satisfied.

[2017-07-06 06:55] #20 closed

[2017-07-06 07:23] hausdorff commented on #44
@tomwilkie Just kidding, I decided to fix it now. Please have a look at the last two commits of PR #46, and let me know if you see any issues.

[2017-07-06 10:14] ngtuna commented on #35
Great. Thanks @hausdorff for the info. Yes, I am closing this

[2017-07-06 10:14] #35 closed

[2017-07-06 15:16] tomwilkie commented on #44
They look good to me!

[2017-07-13 16:46] #44 closed

[2017-07-21 09:19] yanana opened #49 "Official Docker image"
I'd like to use ksonnet on deployment, while I don't want to install neither jsonnet nor ksonnet. Instead I want to use the official Docker image containing ksonnet (and jsonnet) as a command. Of course it's easy to create such an image by myself. But the official image is preferable to my own ones, I think.

[2017-07-21 16:33] hausdorff commented on #49
This is a good idea. I'll try to pull this together some time in the next few days.

[2017-07-21 21:41] hausdorff opened #50 "v1.Container.resources seems to be missing from ksonnet-lib"

[2017-07-22 01:54] hausdorff opened #51 "A list of constructors that could be better"
* authorization.v1.LocalSubjectAccessReview
* authorization.v1.SelfSubjectAccessReview
* authorization.v1.SubjectAccessReview
* autoscaling.v1.HorizontalPodAutoscaler
* autoscaling.v2alpha1.horizontalPodAutoscaler
* batch.v1.Job
* batch.v2alpha1.CronJob
* certificates.v1beta1.CertificateSigningRequest
* core.v1.Endpoints
* core.v1.Event
* core.v1.LimitRange
* core.v1.Node
* core.v1.PersistentVolum

[2017-07-22 01:55] hausdorff opened #52 "core.v1.Namespace is missing from ksonnet-lib"

[2017-07-22 01:57] hausdorff opened #53 "ClusterRoleBinding is missing a `kind`"

[2017-07-26 02:10] hausdorff opened #58 "`secret.new` signature is a default constructor."
It could be better.

[2017-07-26 02:10] hausdorff opened #59 "Consider implementing `volume.fromSecret`"

[2017-07-26 16:41] hausdorff commented on #34
I think we've decided that it accomplishes our goals to have this just be static (_i.e._, never-changing), but hand-written.

[2017-07-26 16:41] #34 closed

[2017-07-26 23:10] abiogenesis-now opened #60 "[docs] Incompatible links between README and tutorial on the official website"
The links between the main README and the tutorial doc are broken. I'm not 100% sure how to fix this, given that we don't want to break either the Github repo linking or the website linking. (Currently the Github linking works but the website doesn't).

Specifically: the tutorial link in http://ksonnet.heptio.com/docs/core-packages/ksonnet-lib.html#mixins and the readme link in http://ksonnet.hept

[2017-07-27 01:05] hausdorff commented on #49
This is resolved now: https://github.com/ksonnet/ksonnet-lib/blob/master/Dockerfile

You can write a function like below and call `ksonnet <args, files, etc>` and it will work like it's installed on your filesystem.

[code]

[2017-07-27 01:39] anguslees commented on #49
Not the original request, but consider also just downloading a [kubecfg release](https://github.com/ksonnet/kubecfg/releases).  It's a single pre-built binary that statically includes jsonnet, so it's very easy to install (for common architectures).

[2017-07-27 03:12] hausdorff commented on #36
beta.2 shipped today, so I think we can close this.

[2017-07-27 03:12] #36 closed

[2017-07-27 03:13] hausdorff opened #61 "Remove empty objects from k8s.libsonnet"
_e.g._, there is some stuff like `mixin:: {}`. We could probably use `std.prune` to get rid of all of this, if we're ok with that solution.

[2017-07-27 03:50] hausdorff opened #62 "Consider adding a notion of deprecation for deprecated resources"

[2017-07-27 07:31] hausdorff commented on #52
This is in the beta.2 release.

[2017-07-27 07:31] #52 closed

[2017-07-27 07:31] hausdorff commented on #58
Duplicate of #51

[2017-07-27 07:31] #58 closed

[2017-07-27 13:26] yanana commented on #49
@anguslees Could kubecfg be complete alternative to ksonnet?

[2017-07-27 13:34] yanana commented on #49
@hausdorff Does the image exist in any public Docker repository?

[2017-07-27 17:24] hausdorff commented on #49
@yanana `kubecfg` is part of the ksonnet project. And, the image does not exist anywhere official, I'm not sure where we should put it. But it should be trivial enough to build.

[2017-07-27 20:47] yanana commented on #49
@hausdorff Thanks for your reply. I'm going to see `kubecfg` deeper. And I believe the most important thing is that the official image, in particular version, is available publicly. I and my colleagues hope they were published on Docker Hub. In other words, we want to pull the image as `docker pull ksonnet/ksonnet-lib`.

[2017-07-27 21:37] hausdorff commented on #49
@yanana Alright, I'll put the image in `ksonnet/ksonnet-lib`, and we'll maintain that. I believe @anguslees has access to the ksonnet Dockerhub, though, so we have to wait until he gets back online. (He lives in Australia.)

[2017-07-28 01:08] hausdorff commented on #49
Alright, @yanana you can obtain obtain the official image from[1]. You will probably want to use the `ksonnet/ksonnet-lib:beta.2`.

https://hub.docker.com/r/ksonnet/ksonnet-lib/tags/

[2017-07-28 01:09] #49 closed

[2017-07-28 09:34] yanana commented on #49
@hausdorff I appreciate your dedication.  It looks working well 👍

[2017-07-29 17:59] chuckha commented on #51
Humbly requesting `core.v1.namespace` constructor that takes a name.

[2017-07-29 18:00] hausdorff commented on #51
@chuckha should be resolved in #63

[2017-07-30 15:04] chuckha opened #64 "document constructors"
Instead of having to read the code I'd love to see a page of what constructors ksonnet provides.

[2017-07-31 14:31] caruccio opened #65 "Site has a typo: langauge"

[2017-08-27 11:13] amir opened #69 "io.k8s.kubernetes.pkg.api.v1.LocalVolumeSource confuses Jsonnet"
Hi,

I'm using `ksonnet-gen` in https://github.com/amir/iron_jsonnet to generate `k8s.libsonnet`. The library gets generated successfully but Kubernetes resource `io.k8s.kubernetes.pkg.api.v1.LocalVolumeSource` gets translated to `local::` which confuses Jsonnet. Looking at the `k8s.libsonnet` in `ksonnet.beta.2` I don't see that resource but I can't find how it's been renamed/removed. Is there a

[2017-09-06 09:36] roidelapluie opened #70 "Support Openshift"
Hi,

 Would be great to support OpenShift in ksonnet-gen.
[openshift.json](https://github.com/ksonnet/ksonnet-lib/files/1280569/openshift.json.txt)

 go run main.go openshift.json out
Failed to parse definition name 'com.github.openshift.origin.pkg.authorization.apis.authorization.v1.RoleBindingRestrictionSpec'
exit status 1

[2017-09-06 09:42] roidelapluie opened #71 "Autogonerate ksonnet-gen/kubeversion/data.go"
Is there a way to autogenerate ksonnet-gen/kubeversion/data.go ?

I would love to have it to try to support #70

[2017-09-06 09:45] roidelapluie opened #72 "Kubernetes 1.8 and 1.6"
I think we should enlarge the scope of the project and somehow support k8s 1.8 and 1.6

related to #70

[2017-09-06 21:09] tehut opened #73 "Unexpected Token error in autogenerated k8s.libsonnet"
The autogenerated k8s.libsonnet file throws the following STATIC ERROR:
`k8s.libsonnet:4191:18-19: Expected token IDENTIFIER but got "::" `

[2017-09-10 05:11] #73 closed

[2017-09-15 17:30] abiogenesis-now opened #76 "Made -v flag default (to increase transparency for kubecfg apply/delete/etc)"
Currently `kubecfg apply [--dry-run]` and `kubecfg delete` aren't telling you what k8s resources are being created/updated/deleted.

We should make the -v flag default to solve this, and silence it explicitly with a flag.

[2017-09-20 14:23] glindste opened #77 "References to missing hidden.core.v1.persistentVolumeClaim"
There are several references in k8s.libsonnet to the field `hidden.core.v1.persistentVolumeClaim` which does not exist. However there is a field in `core.v1.persistentVolumeClaim` which seems to fit the bill. I assume it was moved but the references weren't updated for some reason.

[2017-09-25 21:18] skriss opened #79 "broken link on the website for mixin tutorial"
http://ksonnet.heptio.com/docs/core-packages/ksonnet-lib.html#mixins -- tutorials link

[2017-09-27 18:25] hausdorff commented on #76
This was fixed in the kubecfg repository.

[2017-09-27 18:25] #76 closed

[2017-10-16 09:00] AntonioMeireles opened #83 "eventual issue with current head and beta.3"
Hi all,

opening separate issue per @hausdorff request [here](https://github.com/ksonnet/ksonnet-lib/pull/78#issuecomment-336782910). My original observation [here](https://github.com/ksonnet/ksonnet-lib/pull/78#issuecomment-335027735) is repasted bellow for simplicity

--
as of now it looks that current head is busted (for beta.3)

actually @hausdorff [example](https://github.com/ksonnet/ksonnet-

[2017-10-16 17:55] hausdorff commented on #83
@AntonioMeireles It looks like you're using an old HEAD. The new head is 60c55e6ef5aeb60b27f504399c54c4c7e5b27602, where I do not observe this to be an issue. Can you try `git pull --rebase origin master` and see if (after merging potential conflicts) this resolves your issue?

[2017-10-17 21:11] poweld commented on #83
@hausdorff I've run into the same issue on https://github.com/ksonnet/ksonnet-lib/commit/60c55e6ef5aeb60b27f504399c54c4c7e5b27602, also host platform macOS. The fix proposed by @AntonioMeireles solved the issue for me. My kapi SHAs are the same as his.

I was attempting to generate a StatefulSet and received the following error:
[code]

I'm happy to provide more info if requested.

[2017-10-18 00:11] hausdorff commented on #83
@poweld, @AntonioMeireles Ok, so to summarize, the example above _does_ work on 60c55e6, but it is correct that 3 constructors are incorrect. Fixing now, thanks for the report.

[2017-11-21 20:54] rdodev opened #86 "OS X runtime error when running `ks init guestbook`"
OS Version: OS X High Sierra
Shell: Bash 3.2
K8s version: 1.8, minikube

Tying to follow: https://ksonnet-next-site.i.heptio.com/docs/tutorial#1-initialize-your-app-commands

[code]

`export GOPATH=/Users/ruben/go`

[code]

[2017-11-21 21:08] hausdorff commented on #86
@rdodev This is actually a bug in ksonnet/ksonnet (_i.e._, the CLI tool). I'm going to migrate this to there.

[2017-11-21 21:08] #86 closed

[2017-11-21 21:09] hausdorff commented on #86
New issue is here: https://github.com/ksonnet/ksonnet/issues/129

[2017-11-25 22:48] seryl opened #87 "Some labels keys are dropped from deployment meta to replica set"
It appears that some keys from map labels which are using `deployment.mixin.metadata.labels` get dropped for it's child replicaset.

Example:

[code]

Output:

[code]

Notice: the `amazing` key is dropped from the replicaset labels.

I'm still digging into why this is happening, but it appears to be with the library.

Both [jsonnet](https://github.com/google/jsonnet) and [go-jsonnet](https://githu

[2017-11-26 14:00] seh commented on #87
`deployment.mixin.metadata.labels` changes the labels on the _Deployment_ object itself, not on the labels in the pod template. For those, you need `deployment.mixin.spec.template.metadata.labels`.

[2017-11-26 22:17] seryl commented on #87
Oh... I see.

I think I understand now. Thank you!

[2017-11-26 22:17] #87 closed

[2017-11-30 23:18] fabioy opened #91 "Consistent contructor"
Rather than have multiple parameters in the constructors, prefer to have a single (or no param) constructor.

Currently the constructors take a variable number of parameters, and it's hard to know what's required. For example:

Deployment - new(name, replicas, containers, podLabels={app: name})
Service - new(name, selector, ports)

Some of these params are text, some are other objects. It's unclea

[2017-11-30 23:23] fabioy opened #92 "Can't set deployment namespace with simple ".withNamespace" mixin"
When using deployment object, somehow the mixins get confused, so the top level ".withNamespace" sets it for the pod template, and not the deployment:

Repro:

local appDeployment = deployment
  .new(
    "heptio-server",
    4,
    serverContainer,
    params.labels)
 .withNamespace("heptio-svc");

Expected: deployment within given namespace.

Result: Sets the namespace in the pod spec.

Workarou

[2017-12-01 22:57] hausdorff opened #93 "Pay down the code debt from #90"
We have a few open issues that are not urgent, but important to discuss, in #90. We merged to make the release window.

We need to come back, discuss, and fix them.

[2017-12-29 03:20] gangliao opened #95 "VS Code Jsonnet Preview failed"
[code]

VS Code Jsonnet Preview:

[code]

[2018-01-04 18:52] redbaron commented on #49
Images on docker hub are not being updated :(

[2018-01-10 16:07] adamdecaf commented on #51
Is this a subset of https://github.com/ksonnet/ksonnet-lib/issues/91?

[2018-01-10 16:12] adamdecaf opened #97 "doc command"
Going further than https://github.com/ksonnet/ksonnet-lib/issues/64 it's annoying to read the `k8s.libsonnet` file. I'd like to have something like the following:

[code]
$ k8s doc -f ../lib/k8s.libsonnet core.v1.container.withArgs
// Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment.

[2018-01-10 19:36] nikolay commented on #91
If there's no desire to do more, at least all parameters need to be optional! Also, documentation should recommend the usage of named parameters instead of unreadable positional ones!

There's a related PR by @bryanl: https://github.com/ksonnet/ksonnet/pull/267

[2018-01-10 19:47] adamdecaf commented on #91
Adding `init()` works for me.

[2018-01-10 20:20] bryanl commented on #91
@nikolay we're currently working through the proposal right now. We should have a course by the EOD tomorrow.

[2018-01-12 19:09] bryanl commented on #97
This idea looks interesting. I'm going to take a couple of days to play around with it and see what comes out.

[2018-01-26 19:48] bryanl opened #105 "Configure ksonnet-lib in travis ci"
Hook up automated CI for ksonnet-lib with TravisCI

[2018-02-06 16:42] petr-k opened #109 "k8s version vs lib version"
Hi,
just a question here: could you please clarify what is the relationship between Kubernetes version and ksonnet-lib version? E.g., can I safely use `ksonnet.beta.3` (which is generated from API 1.8.0) against Kubernetes 1.7.0? Are there things to watch out for?

Thanks.

[2018-03-06 14:56] biwwy opened #117 "Can't reference ingressRule in ksonnet-lib"
When trying to create an ingress rule and referencing ingressRule in API with something like `local rule = $.extensions.v1beta1.ingressRule,` I get an error stating that field doesn't exist. What am I doing wrong?

[2018-03-06 15:06] bryanl commented on #117
There's two ways you can approach this:

[code]

or

[code]

Let me know if you need any more pointers?

[2018-03-06 15:08] biwwy commented on #117
Just to clarify I can easily reference say deployment with `local deployment = $.apps.v1beta1.deployment,` $ being the core k.libsonnet and therefore k8s.libsonnet library.

[2018-03-06 15:10] bryanl commented on #117
Yes, but `ingressRule` is in a different location. Notice that it starts with `hidden`.

[2018-03-06 15:26] biwwy commented on #117
Oh, thanks! Figured it. `hidden` API parts can be referenced through links in core API, such as with rulesType here.

Thanks!

[2018-03-06 15:26] biwwy commented on #117
Closing

[2018-03-06 15:26] #117 closed

[2018-03-09 19:19] stjohnjohnson opened #119 "volumeMount: RUNTIME ERROR: Field does not exist: withReadOnly"
I'm trying to add a volume mount to the demo.  When doing so, I get a `RUNTIME ERROR` on k8s version 1.8 and not 1.7.

## Steps to Reproduce

[code]

Contents of `foo/components/demo.jsonnet` and `bar/components/demo.jsonnet`:

[code]

Execute the following command:
[code]

[2018-03-09 19:34] bryanl commented on #119
There appears to be a bug with the new translation of k8s.libsonnet. To remedy this before the next ksonnet release, you can do the following:

In `lib/v1.8.0/k8s.libsonnet` on line 19524, there is a line that looks like this:

[code]

make it look like this:

[code]

This should fix the problem.

[2018-03-09 19:38] stjohnjohnson opened #120 "mapContainersWithName: RUNTIME ERROR: Field does not exist: Inter"
I'm trying to add a environments.  When doing so, I get a `RUNTIME ERROR` on k8s version 1.8 and not 1.7.

## Steps to Reproduce

[code]

Contents of `foo/components/demo.jsonnet` and `bar/components/demo.jsonnet`:

[code]

Execute the following command:
[code]

## Remedy

This can be temporarily patched by changing that line to `std.Inter` to `std.setInter`

[2018-03-09 19:39] stjohnjohnson commented on #119
True, I can temporarily do that.  Is there a link to the parent bug with the k8s translation I can follow?

Also, I'm not sure if it's also related to this bug: https://github.com/ksonnet/ksonnet-lib/issues/120

[2018-03-09 19:41] bryanl commented on #120
This was fixed in ksonnet 0.9.1.

[2018-03-09 19:42] bryanl commented on #119
I will link to this with the issue describing the problem.

[2018-03-09 19:56] #120 closed

[2018-03-09 19:56] stjohnjohnson commented on #120
Thanks! Confirmed.

[2018-03-11 23:18] charlesa101 commented on #95
still failing for me as well

[2018-03-11 23:19] bryanl commented on #95
There is a fix for it, and we are working with Microsoft to fix publishing for the jsonnet plugin. Will update here when it is resolved.

[2018-03-13 20:32] #105 closed

[2018-03-13 20:32] bryanl commented on #72
ksonnet-lib currently supports k8s 1.7+.

[2018-03-13 20:32] #72 closed

[2018-03-13 20:35] bryanl commented on #97
I have a preview of what ksonnet-lib documentation could look like up at http://g.bryan.dev.hepti.center.

[2018-03-13 20:35] #79 closed

[2018-03-14 14:11] adamdecaf commented on #97
@bryanl That looks pretty awesome! It's much nicer to read than the raw jsonnet.

I noticed a couple things.

1. When you jump to each group the name of that group is cut off. Probably from the "ksonnet API Documentation" header taking up a few pixels ontop of the name.
1. I might change the (chevron?) <img width="148" alt="screen shot 2018-03-14 at 9 10 29 am" src="https://user-images.githubuserc

[2018-03-14 14:14] bryanl commented on #97
@adamdecaf this site is not the final layout. The experiment was to see if suitable documentation could be generated from k8s.libsonnet. It helped expose a few gaps which we can hopefully share with the k8s docs team to help improve downstream efforts. Thanks for taking a look and I will work on getting those fixes in there to make it easier to read.

[2018-04-24 14:46] bryanl commented on #119
This is now working in ksonnet 0.10

[2018-04-24 14:46] #119 closed

[2018-04-24 14:47] bryanl commented on #109
In general, you won't be able to use items that weren't specified in Kubernetes 1.7.0. The pre-generated libraries are going away, and we'll provide a generator, so the ksonnet-lib you are using will match your environment.

[2018-04-24 14:47] #109 closed

[2018-04-24 14:48] bryanl commented on #95
This has been updated and the functionality is present is the jsonnet 0.1.0 extension.

[2018-04-24 14:48] #95 closed

[2018-04-24 14:48] #93 closed

[2018-04-24 14:50] bryanl commented on #71
ksonnet-lib has been reworked with a new generator. This is no longer relevant.

[2018-04-24 14:50] #71 closed

[2018-04-24 14:51] #53 closed

[2018-04-24 14:53] #50 closed

[2018-04-24 14:54] #65 closed

[2018-04-26 12:04] bryanl commented on #69
This no longer happens with ksonnet-lib 0.1.0.

[2018-04-26 12:04] #69 closed

[2018-04-26 12:05] #83 closed

[2018-04-26 12:06] bryanl commented on #77
`hidden.core.v1.persistentVolumeClaim` exists in ksonnet-lib 0.1.0

[2018-04-26 12:06] #77 closed

[2018-05-02 23:14] Quentin-M commented on #97
Hi there!

Is there any progress on this?

Using ksonnet / ksonnet-lib without documentation and with essentially no code completion (the vscode extension is meant to be used for ksonnet as a whole, not ksonnet-lib specifically - and completion freezes often) is hard, and is making several of our developers upset.

[2018-05-03 15:53] redbaron opened #133 "newConstructor doesn't honor argument order?"
both `ContainerPort` and `ServicePort` use `newConstructor("newNamed", newParam("name"), ... )`

but ContainerPort has argument names swapped, at least when generated from ksonnet with `v1.8.0` apisepc:

[code]

while order of args in ServicePort seems to be matching args to `newConstructor`:

[code]

[2018-05-08 15:42] nikolay opened #134 "Make `items` optional in `fromConfigMap()`"
In Kubernetes, you don't have to specify `items` and then all keys are added, but `fromConfigMap()` does not allow this and you end up having to specify each key, which is redundant, and hard to maintain.

[2018-05-08 16:02] adamdecaf commented on #134
FYI, you can work around this by doing.

[code]

[2018-05-11 16:22] DustinChaloupka opened #137 "Some with* missing self +"
Unsure if this is intended or not, but from what I would expect with a `with*` field, it would take the current object and add a field. However, there are some that are missing the `self +`, so they create a new object with only the field that was called. For example:

A container `livenessProbe` mixin I would expect this:
[code]
to generate:
[code]
But it instead just generates:
[code]
Along the

[2018-05-23 06:11] yanc0 commented on #95
I still have the error, even if jsonnet plugin is up to date (0.1.0).

![screenshot from 2018-05-23 08-09-49](https://user-images.githubusercontent.com/3806094/40406394-cbecd0e6-5e60-11e8-928b-1650bffe3a65.png)

[2018-05-28 18:31] bryanl opened #142 "Object Field could be a binary"
Example:
[code]

[2018-05-29 12:10] bryanl opened #143 "Field expression doesn’t imply an object comprehension"
In

[code]

The printer assumes the `[serviceName]` starts an object comprehension and looks for a for.

It generates:

[code]

which could be in correct.

[2018-05-29 13:52] #142 closed

[2018-05-29 13:52] #143 closed

[2018-06-03 19:02] charandas commented on #95
@yanc0 I noticed that `Cmd+Shift+I` under `environments` folder does error out like you say. However, it works when any individual component file is open.

I also get squiggles on `std.extVar("__ksonnet/params")` calls under `*.(jsonnet|libsonnet)` files under the environment folder. However, under components folder, the plugin is ok with those `extVar`s.

@bryanl thoughts?

[2018-06-21 18:40] bryanl opened #146 "ObjectField keys can be any valid Jsonnet expression"
Object fields can be any valid Jsonnet expression. For example:

[code]

[2018-06-25 20:57] #146 closed

[2018-07-11 15:59] redbaron opened #151 "apps.v1.deployment should have mandatory selector argument in constructor"
v1 deployments must have  `selector` field, yet constructor allows to create `Deployment` object without it. Given that `selector` is a subset of `podLabels`, then probably renaming `podLabels` to `podSelector` will be good enough

[2018-07-11 16:24] redbaron opened #152 "apps.v1.deployment constructor match pods across deployments"
current defaults are pretty dangerous ,as they going to match pods across deployments:

[code]

should be something like:
[code]

[2018-07-11 18:38] bryanl commented on #18
This is no longer a feature of ksonnet-lib. ksonnet in 0.12+ can resolve images when setting parameters.

[2018-07-11 18:38] #18 closed

[2018-07-11 18:38] #43 closed

[2018-07-11 18:39] #51 closed

[2018-07-11 18:39] #59 closed

[2018-07-11 18:39] #70 closed

[2018-07-12 06:38] cliveseldon commented on #97
Just a ping as I'm also finding it hard to write more complex ksonnet lib files where I need to understand the mixins and other method available.

[2018-07-31 23:51] GuessWhoSamFoo commented on #60
Closed as `/docs/core-packages/` no longer exists and readme is no longer linked in the tutorial

[2018-07-31 23:51] #60 closed

[2018-08-29 03:16] yanana opened #153 "Update official Docker image"
Last published ksonnet/ksonnet-lib Docker image is almost a year old. Jsonnet is also getting newer. So let's update the image.

[2018-11-01 12:31] doodle-tnw opened #154 "Cannot use the apiregistraion API"
Trying to create a: `apiregistration.v1beta1.apiService` using ksonnets but can't see how to invoke it.

My imports are:
[code]

And I get an error on build:
`RUNTIME ERROR: field does not exist: apiregistraion`

I can see the def inside the `hidden` object, but can't see where its added to the library.

[2018-11-05 21:40] vthirumale opened #156 "status is not a var in hidden."
`status` is not present in `hidden.meta.v1` but referenced in many places.
It is defined in `meta.v1.status`

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
Probable fix:
[code]

[2018-11-20 06:56] rajatvig opened #157 "Support for Kubernetes 1.9"
Is there any planned work to support v1.9+ for Kubernetes? The current set of definitions, for example, does not include support for ValidatingAdmissionWebhooks. https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#admission-webhooks

[2019-03-20 11:58] prune998 opened #159 "ksonnet-lib to be supported or not ?"
Hi there,

Thanks for the great work you did.
Will the `Ksonnet-lib` be maintained despite the end of `ksonnet` cli ?
Is it the whole `ksonnet` project that will be ended ?

Thanks

[2019-04-01 17:43] jwhitcraft commented on #159
@prune998 see here: https://github.com/ksonnet/kubecfg/issues/247

[2019-04-01 19:06] prune998 commented on #159
thanks @jwhitcraft

[2019-08-29 15:52] nikolay opened #161 "Release v0.1.13"
There's no release so far.

[2019-09-24 09:05] daixiang0 opened #162 "jb: error: failed to install: stat vendor/k.libsonnet/jsonnetfile.lock.json: not a directory"
[code]

[2019-10-01 06:23] daixiang0 commented on #162
@metalmatze and @bryanl mind have a look?

[2019-12-26 11:15] sillydong commented on #77
still there are errors came out saying persistentVolumeClaim not found
[code]
the code calling it was
[code]

I have checked the k8s.libsonnet, there is persistentVolumeClaim exists in `hidden.core.v1.persistentVolumeClaim`

Am I wrong using this?

[2020-08-10 16:50] askreet commented on #92
AFAICT this is because scoped withX methods are used which change the mixins in the associated object. Seems to be a somewhat pervasive problem, though most easily seen in Deployment because of the nested nature of the objects. Essentially, the Deployment you get back is broken.